/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
button {
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

#start, #continue {background-color: #4CAF50;} /* Green */
#next {background-color: #008CBA;} /* Blue */
#break {background-color: #e7e7e7; color: black;} /* Gray */
