<div class="container">
  <div class="block" role="main">
    <button *ngIf="!taskStarted" (click)="start()" id="start">{{ 'PAGES.HOME.START' | translate }}</button>
    <button *ngIf="taskStarted && periodFinished" (click)="nextPeriod()" id="continue">{{ 'PAGES.HOME.CONTINUE' | translate}}</button>
    <button *ngIf="taskStarted" (click)="start()" id="next">{{ 'PAGES.HOME.NEXT' | translate }}</button>
    <button *ngIf="isTimeToBreak()" (click)="break()" id="break">{{ 'PAGES.HOME.BREAK' | translate }}</button>
    <div>{{ 'PAGES.HOME.TIMESPENT' | translate }}: <span>{{ timeSpent | timeSpan }}</span></div>
  </div>
</div>
